.backgroundColor{
    background-color: #c4bdb3;
}

.boldPurple{
    color: rgb(114, 114, 114);
    font-weight: bold;
}


/* Texto del título */
.titleText {
    font-size: clamp(1.25rem, 4vw, 2rem);
    letter-spacing: 0.1em;
    color: black;
    margin: 0;
    padding: clamp(0.5rem, 1vw, 0.75rem);
    justify-content: center;
}

.text {
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    letter-spacing: 0.1em;
    color: black;
    margin: 0;
    padding: clamp(0.5rem, 1vw, 0.75rem);
    justify-content: center;
    
}