name: Deploy to GHCR

on:
  push:
    branches:
      - "main"
  pull_request: ~
  workflow_dispatch:

env:
  DOCKER_BUILDKIT: 1

jobs:
  images:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.repository == 'aulasoftwarelibre/historiaDelAutomovilismo'
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.CR_USER }}
          password: ${{ secrets.CR_PAT }}

      - name: Extract tag name
        id: extract_tag
        run: echo "::set-output name=tag::$(echo ${GITHUB_REF##*/})"

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          target: historia_automovilismo
          tags: |
            ghcr.io/aulasoftwarelibre/historia_automovilismo:latest
            ghcr.io/aulasoftwarelibre/historia_automovilismo:${{ steps.extract_tag.outputs.tag }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
