.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
  }

.centered2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    column-gap: 15%;
    width: 75%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: clamp(200px, 50vw, 400px);
  margin: 0 auto;
  margin-bottom: 2%;
  border: 1px solid black;
  padding: clamp(0.5rem, 1vw, 0.75rem);
  margin-top: clamp(50px, 3vw, 100px);
}

/* Texto del título */
.titleText {

  letter-spacing: 0.1em;
  color: black;
  margin: 0;
}

@media (min-width: 768px) {
  .title {
    width: clamp(300px, 60vw, 600px);
  }
}

@media (max-width: 767px) {
  .title {
    width: clamp(250px, 60vw, 600px);
  }
}

